 /* holysigmarcotojest - reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}
/* /reset */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
}

.main {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1; /*wypelnienie maksymalnej wielkosci*/
	background-image: url("../img/tlo50.jpg");
	background-size: cover;
}

.frakcje {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	width: 180px;
	height: 180px;
	position: relative;
}

.wrapper a {
	height: 100%;
	display: block;
}

.wrapper a img {
	width: 100%;
	position: absolute;
}

.wrapper a:hover .hovered {
	z-index: 1;
}

.opisy {
	height: 60px;
}

#napis, #nazwa, #opis {
	font-family: 'Black Ops One';
	text-shadow: 1px 1px 10px white;
}

#napis {
	font-size: 40px;
}

#nazwa, #opis {
	margin: 10px;
	font-size: 20px;
	text-align: center;
}