/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

body {
	margin: 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.header, .main{
  display: flex;
}

.header {
	align-items: center;
	justify-content: center;
	background: #000;
}

.main {
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1;
	background-image: url("../img/tlo50.jpg");
	background-size: cover;
}

.frakcje {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	height: 180px;
	width: 180px;
	position: relative;
}

.wrapper a {
	display: block;
	height: 100%;
}

.wrapper a img {
	position: absolute;
	width: 100%;
}

.wrapper a:hover .hovered {
 z-index: 1;
}

.opisy {
	height: 60px;
}

#napis, #nazwa, #opis {
	font-family: 'Black Ops One';
	text-shadow: 1px 1px 10px white;
}

#napis {
	font-size: 40px;
}

#nazwa, #opis {
	margin: 10px;
	font-size: 20px;
	text-align: center;
}