/* background-image: url(../img/tlodiv.png);
background-image: url("../img/tlo.jpg");
font-family: 'Black Ops One';
border-image: url("../img/placeholder3.jpg") 0 10 0 0 repeat; */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #000000;
	color: #ffffff;
	height: 62px;
}

header img {
	width: 120px;
}

body {
	margin: 0;
	background-image: url("../img/tlo.jpg");
}

header .fraction-name {
	margin: 0px 15px 0px 0px;
	opacity: 0.3;
	font-family: 'Black Ops One';
	font-size: 25px;
	
}

.main {
	margin: 0px 15vw 0px 15vw;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	height: calc(100vh - 62px);
}

.main .units-wrapper {
	flex: 3;
	display: flex;
	flex-direction: column;	
}

.main .list {
	flex: 1;
}

.main .units-wrapper .limits {
	border: 2px solid #ffffff;
	height: 100px;
}

.main .list {
	border: 2px solid #ffffff;
}

.main .units-wrapper .units {
	display: flex;
	flex: 1;
}

.main .units-wrapper .units .adding {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: 10px solid transparent;
	border-image: url("../img/placeholder3.jpg") 0 10 0 0 repeat;
	border-width: 0px 10px 0px 0px;
}

.main .units-wrapper .units .selecting {
	flex: 6;
}

.main .units-wrapper .units .adding .button-add {
	margin: 0px;
	height: 90px;
	width: 90px;
	margin: 15px 0px 15px 30px;
	font-family: 'Black Ops One';
	text-align: center;
	font-size: 12px;
	background-image: url(../img/dodawanie.png);
	display: flex;
	align-items: center;
	background-size: cover;
	cursor: pointer;
}

.main .units-wrapper .units .selecting {
	border: 10px solid transparent;
	border-image: url("../img/placeholder2.jpg") 10 0 0 0 repeat;
	border-width: 10px 0px 0px 0px;
}

.main .units-wrapper .units .adding .button-add:first-child {
	margin-top: 30px;
}

.heroes, .specials, .basics {
	display: none;
}

.hero, .special, .basic {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hero:nth-child(odd), .special:nth-child(odd), .basic:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
  }

.hero .hero-header, .special .special-header, .basic .basic-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	font-family: 'Black Ops One';
	font-size: 14px;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.hero .hero-header .name, .special .special-header .name, .basic .basic-header .name {
	flex: 3
}

.hero .hero-header .cost, .special .special-header .cost, .basic .basic-header .cost {
	flex: 2
}

.hero .hero-header .equipment-limit, .special .special-header .equipment-limit, .basic .basic-header .equipment-limit {
	flex: 3;
	text-align: right;
}

.hero .hero-main, .special .special-main, .basic .basic-main {
	padding: 10px 15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero .hero-main .table, .special .special-main .table,.basic .basic-main .table {
	flex: 3;
	display: block;
}

.hero .hero-main .hero-skills, .special .special-main .special-skills, .basic .basic-main .basic-skills {
	flex: 5;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.hero .add-to-list, .special .add-to-list, .basic .add-to-list {
	padding: 0px 15px 0px 15px;
	cursor: pointer;
	color: rgb(126, 0, 0);
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	font-weight: 900;
}

.hero .hero-main .table table, .special .special-main .table table, .basic .basic-main .table table {
	border-collapse: collapse;
  }
  
  .hero .hero-main .table table td, th, .special .special-main .table table td, th, .basic .basic-main .table table td, th {
	border: 3px solid #484848;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	color: #000;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
	font-weight: 900;
  }


  .hero .hero-main .table table tr:first-of-type, .special .special-main .table table tr:first-of-type, .basic .basic-main .table table tr:first-of-type {
	  background: rgba(0, 0, 0, 0.4)
  }


