header, main, footer {
  display: block;
}

body {
	background-image: url("../img/tlo.jpg"), url("../img/znak.jpg");
	background-repeat: no-repeat, repeat;
	background-color: black;
	background-size: 100%, 120px;
}

.pasek {
	position: relative;
	min-width: 100%;
	height: 50px;
	max-height: 50px;
	background-color: black;
	margin-top: -30px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
}

#logo {
	float: left;
	max-height: 50px;
	height: 50px;
}

.nazwafrakcji {
	float: right;
	font-family: 'Black Ops One';
	font-family: arial, verdana, 'Times New Roman', sans-sherif;
	font: 20px 'Black Ops One';
	color: #43443D;
	margin-right: 10px;
	margin-top: 5px;
}

.glowne {
	background-image: url("../img/tlodiv.png");
	background-repeat: repeat;
	width: 860px;
	height: 600px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	float: left;
	left: 50%;
	margin-left: -430px;
}

.limity {
	max-width: 70%;
	height: 100px;
	margin-right: 2%;
	margin-left: 2%;
	border-style: outset;
	max-height: 200px;
}

.dodawanie {
	max-width: 10%;
	border: 10px;
	border-image: url("../img/placeholder3.jpg") 0 10 0 0 repeat;
	border-right-style: solid;
	border-top: 0;
	border-bottom: 0;
	text-align: right;
	float: left;
	height: 495px;
}

.dodajmiejsce {
	height: 20px;
	width: 100px;
	max-width: 90%;
	margin: 0 auto;
	visibility: none;
}

.dodajbohatera {
	margin-top: 20px;
	margin-bottom: 20px;
}


.dodajspecjalna {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: right;
}

.dodajpodstawowa {
	margin-top: 5px;
	margin-bottom: 20px;
}

.dodajpodstawowa, .dodajspecjalna, .dodajbohatera {
	width: 100px;
	height: 80px;
	max-width: 90%;
	background: url("../img/dodawanie.png");
	background-size: cover;
	float: right;
	cursor: pointer;
}

.napisdodaj {
	font-family: 'Black Ops One';
	font-family: arial, verdana, 'Times New Roman', sans-sherif;
	font: 12px 'Black Ops One';
	text-shadow: 1px 1px 5px white;
	text-align: center;
}

#napispodstawowa {
	font: 10px 'Black Ops One';
}

#napisbohater {
	font: 14px 'Black Ops One';
}

.wybieranie {
	max-width: 60%;
	min-width: 60%;
	margin-left: 5px;
	margin-top: 5px;
	left: 100px;
	float: left;
}

.lista {
	max-width: 25%;
	min-width: 25%;
	height: 500px;
	margin-right: 5px;
	float: right;
	margin-top: -100px;
	border-style: inset;
	overflow: auto;
}

.clear {
	clear: both;
}

.bohater, .specjalna, .podstawowa {
	width: 100%;
}

.bohater1, .bohater2, .bohater3, .specjalna1, .specjalna2, .specjalna3, .podstawowa1, .podstawowa2, .podstawowa3 {
	font-family: 'Black Ops One';
	font-family: arial, verdana, 'Times New Roman', sans-sherif;
	font: 12px 'verdana';
	height: 120px;	
	text-shadow: 0px 0px 10px white;
}

.bohater1, .bohater3, .specjalna1, .specjalna3, .podstawowa1, .podstawowa3 {
	background-color: rgba(0,0,0,0.2);
}

p.nazwa {
	font: 14px 'Black Ops One';
	float: left;
	display: block;
	margin-top: 5px;
	text-shadow: 0px 0px 5px white;
}

p.koszt {
	font-weight: bold;
	float: right;
	margin-top: 10px;
	margin-right: 2px;
}

p.statystyki {
	float: left;
}

.tabelka {
	margin-top: -20px;
	margin-bottom: 20px;
}

p.ldskill {
	float: right;
	margin-top: -50px;
	margin-right: 2px;
}

p.limiteq {
	float: right;
	margin-top: -70px;
	margin-right: 2px;
}

p.posiadaneskille {
	float: left;
	margin-top: -50px;
	margin-bottom: 0;
}

p.dodajdolisty {
	font: 14px 'verdana';
	color: #930025;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	float: right;
	margin-top: -50px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	cursor: pointer;
}

table, td, tr {
	border: 1px solid black;
}

.wiersz1 {
	background-color: rgba(0, 0, 0, 0.5);
}

.wiersz2 {
	background-color: rgba(255, 255, 255, 0.2)
}

.pozycja1, .pozycja3, .pozycja5, .pozycja7, .pozycja9 {
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100px;
}

.pozycja2, .pozycja4, .pozycja6, .pozycja8, .pozycja10 {
	width: 100%;
	height: 100px;
}

.tabelkalista {
	width: 100%;
	height: 100%;
}

.pozycja2, .pozycja3, .pozycja4, .pozycja5, .pozycja6, .pozycja7, .pozycja8, .pozycja9, .pozycja10 {
	display: none;
}

.pozycja1 {
	visibility: hidden;
}

#bohater, #specjalna, #podstawowa {
	display: none;
}
